@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: lavender;
}

.App {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin: 2em auto;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	-o-perspective: 1200px;
	perspective: 1200px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
