.Eightball {
	background-color: black;
	color: #ffffff;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	background: radial-gradient(circle at 100px 100px, #424242, #000);
}

.Eightball-circle {
	background-color: rgba(233, 234, 234, 0.836);
	width: 125px;
	height: 125px;
	border-radius: 50%;
	top: 90px;
	left: 50px;
	position: absolute;
	-webkit-box-shadow: inset 3px 3px 4px #000;
	-moz-box-shadow: inset 3px 3px 4px #000;
	box-shadow: inset 3px 3px 4px #000;
}
.text {
	width: 85%;
	margin: 40px auto;
	color: #2c6de4;
}

#red {
	background-color: #c00202;
	background: radial-gradient(circle at 100px 100px, tomato, #c00202);
}

#green {
	background-color: #0a790a;
	background: radial-gradient(circle at 100px 100px, #5fd45f, #0a790a);
}

#goldenrod {
	background-color: #8f6806;
	background: radial-gradient(circle at 100px 100px, goldenrod, #8f6806);
}

.Eightball-count {
	font-family: sans-serif;
	margin: 1em auto;
}

h3 {
	font-family: sans-serif;
	margin: 0.5em;
}

button {
	background-color: black;
	border-radius: 5%;
	padding: 0.75em 2em;
	border: none;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

button:hover,
button:active {
	background-color: gray;
}
